/* contact Section */
#contact{
	flex-direction: column;
	margin-top: 100px;
	width: 100%;
	align-items: center;
}
.contact-items {
	/* max-width: 400px; */
	width: 100%;
	margin-top:100px;
}

.social-icon {
	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
	z-index: -1;
}
.social-item {
	height: 50px;
	width: 50px;
}
.social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
.social-item:hover img {
	filter: grayscale(0);
}

#contact .contact-item {
	width: 70%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
	z-index: -1;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}


/*End contact Section */


/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
		z-index: -1;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}