/* Projects section */
#projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
	margin-bottom: 100px;
}
.projects-header h1 {
	margin-bottom: 50px;
}
.all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
.project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: #55616e;
	color: white;
}
.project-info h1 {
	font-size: 4rem;
	font-weight: 500;
	color: #63926a;
}
.project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
.project-info p {
	color: white;
}
.project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
	z-index: -1;
}
.project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/* background-color: #485563;
	opacity: 0.7; */
}
.project-img img {
	transition: 0.3s ease transform;
}
.project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

@media only screen and (min-width: 768px) {

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	
}